* {
    box-sizing: border-box;
  }
  
  /* menu */
  header {
    display: flex;
    align-items: center;
  }
  
  .logo-icon {
    width: 15rem;
    height: 15rem;
    margin-left: 9rem;
    margin-right: 4rem;
  }
  
  ul {
    list-style: none;
    display: flex;
  }
  
  a {
    margin-left: 6rem;
    color: black;
    text-align: center;
    font-family: Inter;
    font-size: 1.25rem;
    font-weight: 800;
    text-decoration: none;
  }
  
  
  /* button */
  .a-button{
    margin-left: 0rem;
  }
  .sign-up-button,
  .log-in-button {
    /* button text */
    color: #fff;
    text-align: center;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* button setting */
    width: 6.8125rem;
    height: 2.375rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: #16507a;
    border-color: #16507a;
  }
  
  .sign-up-button {
    margin-left: 13.19rem;
    margin-right: 1rem;
    border: none;
  }
  
  .log-in-button {
    margin-right: 4.38rem;
    border: none;
  }
  
  
  .order-container {
    display: flex;
    margin-left: 29rem;
    margin-bottom: 8rem;
    gap: 14rem;
  }
  
  /* confirm order setting*/
  .order-left-container {
    color: #ffa149;
    text-decoration: underline 2px;
    text-align: center;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  /* payment methods setting*/
  .order-right-container {
    color: #7d7d7d;
    text-align: center;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }


  /* hotel detail*/
  .hotel-detail-frame{
    margin-left: 21rem;
    width: 63rem;
    height: 18.5rem;
    border-radius: 1.125rem;
    border: 1px solid #16507A;
    background: #FFF;
  }
  .hotel-detail-img{
    margin-left: 2rem;
    margin-top: 2rem;
    width: 18.75rem;
    height: 14.25rem;
    border-radius: 0.625rem;
  }

.hotel-name{
    color: #000;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.hotel-location{
    color: #000;
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.star-icon {
    width: 0.8125rem;
    height: 0.8125rem;
    margin-left: 0;
  }
  .txt-rating {
    color: #606060;
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .star-icon, .txt-rating{
    display: inline;
  }

  .txt-price {
    color: #000;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

.hotel-detail-txt{
    margin-left: 45rem;
    margin-bottom: -14rem;
}



  /* trip information */

  .check-in, .check-out{
    display: flex;
    margin-left: 25rem;
    margin-top: 4rem;
    color: #000;
    font-family: Inter;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .check-in-date, .check-out-date{
    margin-left: 42rem;
    margin-top: -4rem;
    color: #121212;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }




  /* type of room booked */
  .room-container {
    display: flex;
    border-radius: 0.625rem;
    background: #ececec;
    width: 57rem;
    height: 8.125rem;
    margin-left: 20rem;
    margin-bottom: 3rem;
    margin-top: 0;
  }
  
  .breakfast-container{
    display: flex;
    border-radius: 0.625rem;
    background: #ececec;
    width: 57rem;
    height: 6.125rem;
    margin-left: 20rem;
    margin-bottom: 3rem;
    margin-top: 0;
  }

  
  .txt-info-headline {
    color: #121212;
    font-size: 2.25rem;
    font-weight: 700;
    font-family: Inter;
    margin-left: 20rem;
    margin-top: 5rem;
  }
  
  .type-of-room {
    margin-left: 4rem;
    margin-top: 2rem;
    width: 49rem;
    color: #000;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  


  
  /* booker information */


  .txt-input {
    flex: 1;
    border: none;
    outline: none;
  }
  .booker-container {
    display: flex;
    border-radius: 0.4375rem;
    border: 1px solid #16507A;
    background: none;
    width: 53rem;
    height: 4.25rem;
    margin-left: 20rem;
    margin-top: 0;
    margin-bottom: 6rem;
  }
  .booker-detail{
    margin-left: 20rem;
    margin-bottom: 1rem;
    color: #121212;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  /* cancel and process */

  .cancel-process-btn {
    display: flex;
    margin-left: 26rem;
    margin-top: 7.5rem;
    gap: 20rem;
  }
  .cancel-btn {
    display: flex;
    margin-top: 2rem;
    background: none;
    border: none;
    width: 8.44513rem;
    height: 1.90694rem;
    flex-direction: column;
    justify-content: center;
    color: #000;
    text-align: center;
    font-family: Inter;
    text-decoration: underline 1px;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .process-btn {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 0.9375rem;
    background: #ffa149;
    width: 15.80056rem;
    height: 5.96913rem;
    border: none;
  }
  
  /* footer */
  footer {
    margin-top: 6rem;
    text-align: center;
    background: #0d374f;
    width: 115rem;
    height: 18rem;
    margin-left: -5rem;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  
  .footer-menu {
    color: #fff;
    font-family: Inter;
    font-size: 1.5625rem;
    font-weight: 700;
    text-align: center;
    margin-top: 0;
  }
  .fb-icon {
    width: 2.75rem;
    height: 3rem;
    margin-right: 2.56rem;
  }
  
  .twi-icon {
    width: 2.6875rem;
    height: 2.6875rem;
    margin-top: 5px;
  }
  
  .ytb-icon {
    width: 2.875rem;
    height: 2.875rem;
    margin-left: 2.56rem;
    margin-top: 5px;
  }
  
  .footer-email {
    color: #fff;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
  }
  
  .copyright {
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  
  /* media queries */
  
  @media screen and (max-width: 700px) {
    /* nav menu */
    header {
      display: none;
      flex-direction: column;
      align-items: start;
    }
  
    .logo-icon {
      margin-left: 0;
      align-items: start;
      width: 9rem;
      height: 9rem;
      margin-right: 0;
      margin-bottom: 0;
    }
  
    ul {
      flex-direction: column;
      margin-left: -3rem;
      padding-left: 0;
      margin-bottom: 0.3rem;
    }
  
    .header-ul {
      margin-top: -1.5rem;
    }
  
    li {
      align-items: start;
      text-align: left;
      margin-bottom: 0.8rem;
    }
  /* button */
    .sign-up-button,
    .log-in-button {
      margin-left: 2.5rem;
      margin-bottom: 1rem;
    }
  
    /* confirm and payment*/
    .order-container{
      margin-left: 4rem;
      gap: 3rem;
    }

   .txt-info-headline{
    margin-left: 3rem;
   }

 /* hotel detail */
 .hotel-detail-txt{
    margin-left: 26.5rem;
}

.hotel-detail-frame{
    margin-left: 4rem;
    max-width: 80%;
}

   .check-in, .check-out{
    margin-left: 5rem;
   }

   .check-in-date, .check-out-date{
    margin-left: 19rem;
   }

   .room-container, .breakfast-container{
    margin-left: 3rem;
    max-width: 80%;
   }



  
   /* booker info */


   .booker-container{
    margin-left: 3rem;
    max-width: 80%;
    height: 90px;
   }
   .booker-detail{
    margin-left: 3rem;
   }

   .cancel-process-btn{
    margin-left: 6rem;
   }
  
   .process-btn{
    margin-left: -16rem;
    width: 8.80056rem;
    height: 3.96913rem;
   }
   .cancel-btn{
    margin-top: 1rem;
   }
  
    /* footer */
    footer{
      width: auto;
    }
  }
  
  @media screen and (min-width: 701px) and (max-width: 950px) {

    
    .logo-icon {
      width: 9rem;
      height: 9rem;
      margin-right: 0;
      margin-left: 4rem;
    }
  
    .header-ul {
      margin-left: -3rem;
    }
  
    .menu {
      margin: 1rem;
    }
  
    .sign-up-button {
      margin-left: 0rem;
    }
  
     /* confirm and payment*/
     .order-container{
      margin-left: 8rem;
      gap: 3rem;
    }

    /* hotel detail */
    .hotel-detail-txt{
        margin-left: 30rem;
    }

    .hotel-detail-frame{
        margin-left: 5rem;
        max-width: 80%;
    }


   .txt-info-headline{
    margin-left: 6rem;
   }

   .check-in, .check-out{
    margin-left: 9rem;
   }

   .check-in-date, .check-out-date{
    margin-left: 25rem;
   }

   .room-container, .breakfast-container{
    margin-left: 6rem;
    max-width: 80%;
   }
   .card-number{
    font-size: 30px;
    margin-right: -11rem;
    margin-left: 4rem;
   }

   /* register and promo*/


   .booker-container{
    margin-left: 6rem;
    max-width: 80%;
   }
   .booker-detail{
    margin-left: 6rem;
   }

   .cancel-process-btn{
    margin-left: 10rem;
   }
   .process-btn{
    margin-left: -12rem;
   }
  /* footer */
    footer{
      width: auto;
    }
  }
  
  
  @media screen and (min-width: 951px) and (max-width: 1100px) {
    .logo-icon {
      width: 12rem;
      height: 12rem;
      margin-right: 0;
      margin-left: 5rem;
    }
  
    .header-ul {
      margin-left: -2rem;
    }
  
    .menu {
      margin: 1rem;
    }
  
    .sign-up-button {
      margin-left: 2rem;
    }
  
    /* confirm and payment*/
    .order-container{
      margin-left: 8rem;
      gap: 6rem;
    }
  
     /* hotel detail */
     .hotel-detail-txt{
        margin-left: 32rem;
    }

    .hotel-detail-frame{
        margin-left: 5rem;
        max-width: 80%;
    }

   .txt-info-headline{
    margin-left: 8rem;
   }

   .check-in, .check-out{
    margin-left: 12rem;
   }

   .check-in-date, .check-out-date{
    margin-left: 28rem;
   }

   .room-container, .breakfast-container{
    margin-left: 8rem;
    max-width: 80%;
   }


   /* booker info */


   .booker-container{
    margin-left: 8rem;
    max-width: 80%;
   }
   .booker-detail{
    margin-left: 8rem;
   }

   .cancel-process-btn{
    margin-left: 15rem;
   }
   .process-btn{
    margin-left: -10rem;
   }
  /* footer */
    footer{
      width: auto;
    }
  }
  
  @media screen and (min-width: 1101px) and (max-width: 1370px) {
    /* navigation */

    .logo-icon {
      width: 12rem;
      height: 12rem;
      margin-right: 0;
    }
  
    .header-ul {
      margin-left: 0rem;
    }
  
    .menu {
      margin: 1rem;
    }
  
    .sign-up-button {
      margin-left: 4rem;
    }
  
    /* confirm and payment*/
    .order-container{
      margin-left: 18rem;
      gap: 5rem;
    }

    /* hotel detail */
    .hotel-detail-txt{
        margin-left: 40rem;
    }

    .hotel-detail-frame{
        margin-left: 10rem;
        max-width: 80%;
    }

    /* trip info */
   .txt-info-headline{
    margin-left: 10rem;
   }
   
   .check-in, .check-out{
    margin-left: 14rem;
   }

   .check-in-date, .check-out-date{
    margin-left: 30rem;
   }
   /*type of room */
   .room-container, .breakfast-container{
    margin-left: 10rem;
   }
  
   /* booker info */

   .booker-container{
    margin-left: 10rem;
   }

   .booker-detail{
    margin-left: 10rem;
   }

   .cancel-process-btn{
    margin-left: 17rem;
   }
 
  
   /* footer */
    footer{
      width: auto;
    }
  }
  
  