* {
  box-sizing: border-box;
}

/* menu */
header {
  display: flex;
  align-items: center;
}

.logo-icon {
  width: 15rem;
  height: 15rem;
  margin-left: 9rem;
  margin-right: 4rem;
}

ul {
  list-style: none;
  display: flex;
}

a {
  margin-left: 6rem;
  color: black;
  text-align: center;
  font-family: Inter;
  font-size: 1.25rem;
  font-weight: 800;
  text-decoration: none;
}


/* button */
.a-button{
  margin-left: 0rem;
}
.sign-up-button,
.log-in-button {
  /* button text */
  color: #fff;
  text-align: center;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* button setting */
  width: 6.8125rem;
  height: 2.375rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: #16507a;
  border-color: #16507a;
}

.sign-up-button {
  margin-left: 13.19rem;
  margin-right: 1rem;
  border: none;
}

.log-in-button {
  margin-right: 4.38rem;
  border: none;
}


.order-container {
  display: flex;
  margin-left: 25rem;
  gap: 20rem;
}

/* confirm order setting*/
.order-left-container {
  color: #7d7d7d;
  text-align: center;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* payment methods setting*/
.order-right-container {
  color: #ffa149;
  text-decoration: underline 2px;
  text-align: center;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* payment method */
.method-container {
  display: flex;
  margin-top: 3rem;
  margin-left: 27rem;
  gap: 7rem;
}
.method-card-container {
  width: 9.9375rem;
  height: 3.25rem;
  flex-shrink: 0;
  color: #121212;
  text-align: center;
  text-decoration: underline 2px;
  font-family: Inter;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.method-klarna-container,
.method-paypal-container {
  width: 10.5rem;
  height: 3.25rem;
  flex-shrink: 0;
  color: #121212;
  text-align: center;
  font-family: Inter;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.method-img-container {
  display: flex;
  margin-left: 32rem;
  margin-top: 5rem;
  gap: 3rem;
}
.card-1 {
  width: 9rem;
  height: 8.5rem;
  margin-top: 10px;
}
.card-2 {
  width: 9.5rem;
  height: 9.5rem;
}
.card-3 {
  width: 10.0625rem;
  height: 9.5rem;
}

/* choose a payment */
.payment-container {
  display: flex;
  border-radius: 0.625rem;
  background: #ececec;
  width: 62.25rem;
  height: 9.6875rem;
  margin-left: 20rem;
  margin-bottom: 3rem;
  margin-top: 0;
}

.visa-icon {
  width: 7.4375rem;
  height: 7.4375rem;
  margin-left: 6rem;
  margin-top: 1rem;
}

.mc-icon {
  width: 7.125rem;
  height: 6.8625rem;
  margin-left: 6rem;
  margin-top: 1.5rem;
}

.txt-payment-headline {
  color: #121212;
  font-size: 2.25rem;
  font-weight: 700;
  margin-left: 20rem;
  margin-top: 5rem;
}

.card-number {
  color: #000;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 400;
  margin-left: 9rem;
  margin-top: 3.5rem;
}

.txt-verified {
  color: #0d374f;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 600;
  margin-top: 3.5rem;
  margin-left: 15rem;
}

/* register a card */
.register-container {
  display: flex;
  border-radius: 0.625rem;
  border: 2px solid #16507a;
  background: none;
  width: 62.25rem;
  height: 8.25731rem;
  margin-left: 20rem;
  margin-bottom: 3rem;
  margin-top: 0;
}
.cvv-container {
  display: flex;
  border-radius: 0.625rem;
  border: 2px solid #16507a;
  background: none;
  width: 62.25rem;
  height: 8.25731rem;
  margin-left: 4rem;
  margin-bottom: 3rem;
  margin-top: 0;
}
.form-container{
  display: flex;
  width: 78%;
}
.txt-input::placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #121212;
  font-family: Roboto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.txt-input {
  flex: 1;
  border: none;
  outline: none;
}

.save-container {
  display: flex;
  width: 42.90025rem;
  height: 2.35531rem;
  color: #000;
  font-family: Roboto;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 20rem;
  margin-top: -30px;
  gap: 15px;
}
.save-container input[type="checkbox"] {
  width: 2.09175rem;
  height: 2.09175rem;
  border-radius: 0.1875rem;
  border: 1px solid #16507a;
  background: none;
  margin-top: 5px;
  vertical-align: middle;
}

/* promo code */
.promo-container {
  display: flex;
  border-radius: 0.625rem;
  border: 2px solid #16507a;
  background: none;
  width: 62.25rem;
  height: 8.25731rem;
  margin-left: 20rem;
  margin-top: 0;
}
/* price confirm and book */
.total-price {
  display: flex;
  gap: 53rem;
  margin-left: 20rem;
  margin-top: 3.5rem;
}
.total,
.price {
  color: #000;
  font-family: Roboto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.cancel-confirm-btn {
  display: flex;
  margin-left: 26rem;
  margin-top: 7.5rem;
  gap: 20rem;
}
.cancel-btn {
  display: flex;
  background: none;
  border: none;
  width: 8.44513rem;
  height: 1.90694rem;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Inter;
  text-decoration: underline 1px;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.confirm-btn {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 0.9375rem;
  background: #ffa149;
  width: 15.80056rem;
  height: 5.96913rem;
  border: none;
}

/* footer */
footer {
  margin-top: 6rem;
  text-align: center;
  background: #0d374f;
  width: 115rem;
  height: 18rem;
  margin-left: -5rem;
}

.logo-container {
  display: flex;
  justify-content: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.footer-menu {
  color: #fff;
  font-family: Inter;
  font-size: 1.5625rem;
  font-weight: 700;
  text-align: center;
  margin-top: 0;
}
.fb-icon {
  width: 2.75rem;
  height: 3rem;
  margin-right: 2.56rem;
}

.twi-icon {
  width: 2.6875rem;
  height: 2.6875rem;
  margin-top: 5px;
}

.ytb-icon {
  width: 2.875rem;
  height: 2.875rem;
  margin-left: 2.56rem;
  margin-top: 5px;
}

.footer-email {
  color: #fff;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

.copyright {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


/* media queries */

@media screen and (max-width: 700px) {
  /* nav menu */
  header {
    flex-direction: column;
    align-items: start;
  }

  .logo-icon {
    margin-left: 0;
    align-items: start;
    width: 9rem;
    height: 9rem;
    margin-right: 0;
    margin-bottom: 0;
  }

  ul {
    flex-direction: column;
    margin-left: -3rem;
    padding-left: 0;
    margin-bottom: 0.3rem;
  }

  .header-ul {
    margin-top: -1.5rem;
  }

  li {
    align-items: start;
    text-align: left;
    margin-bottom: 0.8rem;
  }
/* button */
  .sign-up-button,
  .log-in-button {
    margin-left: 2.5rem;
    margin-bottom: 1rem;
  }

  /* confirm and payment*/
  .order-container{
    margin-left: 4rem;
    gap: 3rem;
  }
  .method-container{
    margin-left: 2rem;
    gap: 0rem;
  }
  .method-img-container{
    margin-left: 4rem;
    gap: 0rem;
  }
 .txt-payment-headline{
  margin-left: 3rem;
 }
 .payment-container{
  margin-left: 3rem;
  max-width: 80%;
 }
 .card-number{
  font-size: 25px;
  margin-right: -12rem;
  margin-left: 1.2rem;
 }
 .txt-verified{
  font-size: 28px;
  margin-left: 13rem;
 }
.visa-icon, .mc-icon{
  margin-left: 0.5rem;
}

 /* register and promo*/
 .txt-input::placeholder{
  font-size: 18px;
 }
 .cvv-container{
  margin-right: -4rem;
  height: 90px;
 }
 .register-container{
  margin-left: 3rem;
  max-width: 80%;
  height: 90px;
 }
 .save-container{
  margin-left: 3rem;
  font-size: 15px;
 }
 .promo-container{
  margin-left: 3rem;
  max-width: 80%;
  height: 90px;
 }
 .total-price{
  margin-left: 3rem;
 }
 .price{
  margin-left: -35rem;
 }
 .cancel-confirm-btn{
  margin-left: 6rem;
 }
 .confirm-btn{
  margin-left: -16rem;
  width: 8.80056rem;
  height: 3.96913rem;
 }

  /* footer */
  footer{
    width: auto;
  }
}

@media screen and (min-width: 701px) and (max-width: 950px) {
  .logo-icon {
    width: 9rem;
    height: 9rem;
    margin-right: 0;
    margin-left: 4rem;
  }

  .header-ul {
    margin-left: -3rem;
  }

  .menu {
    margin: 1rem;
  }

  .sign-up-button {
    margin-left: 0rem;
  }

   /* confirm and payment*/
   .order-container{
    margin-left: 4rem;
    gap: 4rem;
  }
  .method-container{
    margin-left: 10rem;
    gap: 1rem;
  }
  .method-img-container{
    margin-left: 9rem;
  }
 .txt-payment-headline{
  margin-left: 6rem;
 }
 .payment-container{
  margin-left: 6rem;
  max-width: 80%;
 }
 .card-number{
  font-size: 30px;
  margin-right: -11rem;
  margin-left: 4rem;
 }
 .txt-verified{
  font-size: 30px;
 }
.visa-icon, .mc-icon{
  margin-left: 3rem;
}
 /* register and promo*/
 .cvv-container{
  margin-right: -7rem;
 }
 .register-container{
  margin-left: 6rem;
  max-width: 80%;
 }
 .save-container{
  margin-left: 6rem;
 }
 .promo-container{
  margin-left: 6rem;
  max-width: 80%;
 }
 .total-price{
  margin-left: 6rem;
 }
 .price{
  margin-left: -25rem;
 }
 .cancel-confirm-btn{
  margin-left: 10rem;
 }
 .confirm-btn{
  margin-left: -12rem;
 }
/* footer */
  footer{
    width: auto;
  }
}


@media screen and (min-width: 951px) and (max-width: 1100px) {
  .logo-icon {
    width: 12rem;
    height: 12rem;
    margin-right: 0;
    margin-left: 5rem;
  }

  .header-ul {
    margin-left: -2rem;
  }

  .menu {
    margin: 1rem;
  }

  .sign-up-button {
    margin-left: 2rem;
  }

  /* confirm and payment*/
  .order-container{
    margin-left: 8rem;
    gap: 6rem;
  }
  .method-container{
    margin-left: 14rem;
    gap: 1rem;
  }
  .method-img-container{
    margin-left: 13rem;
  }
 .txt-payment-headline{
  margin-left: 8rem;
 }
 .payment-container{
  margin-left: 8rem;
  max-width: 80%;
 }
 .card-number{
  font-size: 30px;
  margin-right: -10rem;
 }
.visa-icon, .mc-icon{
  margin-left: 4rem;
}
 /* register and promo*/
 .cvv-container{
  margin-right: -9rem;
 }
 .register-container{
  margin-left: 8rem;
  max-width: 80%;
 }
 .save-container{
  margin-left: 8rem;
 }
 .promo-container{
  margin-left: 8rem;
  max-width: 80%;
 }
 .total-price{
  margin-left: 8rem;
 }
 .price{
  margin-left: -15rem;
 }
 .cancel-confirm-btn{
  margin-left: 15rem;
 }
 .confirm-btn{
  margin-left: -10rem;
 }
/* footer */
  footer{
    width: auto;
  }
}

@media screen and (min-width: 1101px) and (max-width: 1370px) {
  /* navigation */
  .logo-icon {
    width: 12rem;
    height: 12rem;
    margin-right: 0;
  }

  .header-ul {
    margin-left: 0rem;
  }

  .menu {
    margin: 1rem;
  }

  .sign-up-button {
    margin-left: 4rem;
  }

  /* confirm and payment*/
  .order-container{
    margin-left: 14rem;
    gap: 5rem;
  }
  .method-container{
    margin-left: 16rem;
  }
  .method-img-container{
    margin-left: 21rem;
  }
 .txt-payment-headline{
  margin-left: 10rem;
 }
 .payment-container{
  margin-left: 10rem;
 }

 /* register and promo*/
 .cvv-container{
  margin-right: -8rem;
 }
 .register-container{
  margin-left: 10rem;
 }
 .save-container{
  margin-left: 10rem;
 }
 .promo-container{
  margin-left: 10rem;
 }
 .total-price{
  margin-left: 10rem;
 }
 .cancel-confirm-btn{
  margin-left: 17rem;
 }

 /* footer */
  footer{
    width: auto;
  }
}

