* {
  box-sizing: border-box;
}

/* menu */
header {
  display: flex;
  align-items: center;
}

.logo-icon {
  width: 15rem;
  height: 15rem;
  margin-left: 9rem;
  margin-right: 4rem;
}


ul {
  list-style: none;
  display: flex;
}

a {
  margin-left: 6rem;
  color: black;
  text-align: center;
  font-family: Inter;
  font-size: 1.25rem;
  font-weight: 800;
  text-decoration: none;
}


/* button */
.a-button{
  margin-left: 0rem;
}
.sign-up-button,
.log-in-button {
  /* button text */
  color: #fff;
  text-align: center;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* button setting */
  width: 6.8125rem;
  height: 2.375rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: #16507a;
  border-color: #16507a;
}

.sign-up-button {
  margin-left: 13.19rem;
  margin-right: 1rem;
  border: none;
}

.log-in-button {
  margin-right: 4.38rem;
  border: none;
}



/* hotel detail */

/* hotel image */
.main-rectangle {
  padding: 10px;
  width: 75.9375rem;
  height: 26.25rem;
  border-radius: 1.875rem;
  background: #ececec;
  margin-left: 10rem;
}

.image-container {
  display: grid;
  grid-template-areas:
    "main-image small-image small-image"
    "main-image small-image small-image";
  gap: 0.8rem;
}


.main-image {
  grid-area: main-image;
}
.small-image {
  grid-area: small-image;
}
.column {
  flex: 1;
  margin: 5px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.column img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/* hotel intro */
h1 {
  width: 32.625rem;
  color: #000;
  font-family: Inter;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 30px;
  margin-left: 10rem;
}
.hotel-intro-container {
  margin-top: -210px;
  margin-left: 10rem;
}
.grade {
  display: inline;
}
.grade img {
  width: 2.1875rem;
  height: 2.1875rem;
}
h2 {
  color: #606060;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: -8rem;
}
/* hotel detail */
.icon-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
  margin-left: 14rem;
  margin-top: 4rem;
}
.icon {
  margin-bottom: 2rem;
  width: 55px;
  height: 55px;
}
.rule-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 12rem;
}
.rule-seperate-container {
  display: flex;
}
.rule-container img {
  width: 2.2rem;
  height: 2.2rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

h3 {
  width: 12.0625rem;
  height: 5.79325rem;
  color: #000;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 10rem;
}

h2,
h3 {
  display: inline-block;
}

h4 {
  width: 52.3125rem;
  height: 6.875rem;
  color: #121212;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.28125rem;
  margin-top: -50px;
}

/* small boxes */
.box-container {
  margin-left: 67rem;
  margin-top: -60px;
}

.price-book-container{
  display: flex;
}

.box-1 {
  width: 19rem;
  height: 5.775rem;
  border-radius: 0.625rem;
  background: #d9d9d9;
}
.highlight {
  background: #d9d9d9;
}

.book-info img {
  width: 0.875rem;
  height: 0.875rem;
}
.book-info {
  color: #121212;
  font-family: Inter;
  font-size: 0.725rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 1rem;
}

.price-info {
  color: #121212;
  font-family: Inter;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 1rem;
  margin-top: 1rem;
}

.box-2 {
  width: 19rem;
  height: 8.975rem;
  border-radius: 0.625rem;
}
.small-title {
  color: #121212;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}
.trapple-info {
  color: #121212;
  font-family: Inter;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 0.7rem;
}
.book {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: normal;
  border-radius: 0.625rem;
  background: #ffa149;
  width: 3.8125rem;
  height: 2rem;
  margin-left: 8rem;
  margin-top: 1rem;
  border: none;
}

/* daily price */
h5 {
  color: #000;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
h6 {
  color: #000;
  font-family: Inter;
  font-size: 2rem;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
}
h5,
h6 {
  display: inline-block;
  margin-right: 60px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 12rem;
}

/* hotel location */
.loc {
  border-radius: 0.625rem;
  width: 73.75rem;
  height: 34.0625rem;
  margin-left: 14rem;
}
/* hotel activities*/
.activity-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 12rem;
  margin-right: 15rem;
}

.act {
  width: 19.8125rem;
  height: 16.25rem;
}

.act-text {
  color: #000;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 10px;
}
/* footer */
footer {
  margin-top: 6rem;
  text-align: center;
  background: #0d374f;
  width: 115rem;
  height: 18rem;
  margin-left: -5rem;
}

.logo-container {
  display: flex;
  justify-content: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.footer-menu {
  color: #fff;
  font-family: Inter;
  font-size: 1.5625rem;
  font-weight: 700;
  text-align: center;
  margin-top: 0;
}
.fb-icon {
  width: 2.75rem;
  height: 3rem;
  margin-right: 2.56rem;
}

.twi-icon {
  width: 2.6875rem;
  height: 2.6875rem;
  margin-top: 5px;
}

.ytb-icon {
  width: 2.875rem;
  height: 2.875rem;
  margin-left: 2.56rem;
  margin-top: 5px;
}

.footer-email {
  color: #fff;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

.copyright {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}



/* media queries */

@media screen and (max-width: 700px) {
  /* nav menu */
  header {
    flex-direction: column;
    align-items: start;
  }

  .logo-icon {
    margin-left: 0;
    align-items: start;
    width: 9rem;
    height: 9rem;
    margin-right: 0;
    margin-bottom: 0;
  }

  ul {
    flex-direction: column;
    margin-left: -3rem;
    padding-left: 0;
    margin-bottom: 0.3rem;
  }

  .header-ul {
    margin-top: -1.5rem;
  }

  li {
    align-items: start;
    text-align: left;
    margin-bottom: 0.8rem;
  }

  /* button */
  .sign-up-button,
  .log-in-button {
    margin-left: 2.5rem;
    margin-bottom: 1rem;
  }
  /* hotel info */
  .main-rectangle {
    max-width: 80%;
    height: fit-content;
    margin-left: 2rem;
  }

h1 {
  width: 90%;
  max-width: 100%;
  margin-left: 2rem;
  margin-right: auto;
}
.hotel-intro-container {
  margin-top: -180px;
  max-width: 90%;
  margin-left: 2rem;
  margin-right: auto;
  margin-bottom: 12rem;
  margin-top: -20rem;
}
.grade img {
  width: 1.5rem;
  height: 1.5rem;
}

h3 {
  max-width: auto;
  margin-right: auto;
}
h4{
max-width: 60%;
}
.rule-container {
  grid-template-columns: repeat(1, 1fr);
  max-width: 100%;
  margin-left: 5rem;
  margin-right: auto;
}
.box-container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
h5, h6{
margin-left: 5rem;
}
.icon-container {
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
  max-width: 90%;
  margin-left: 8rem;
  margin-right: auto;
}
.box-1,
.box-2 {
  width: 20%;
margin-left: auto;
margin-right: 0rem;
}
.box-1{
  height: 8rem;
}
.box-2{
  height: 14rem;
}
.loc{
  margin-left: 6rem;
  margin-bottom: -18rem;
}
.loc img{
  max-width: 40%;
}
.activity-wrapper{
margin-left: 2rem;
}
.act-ballon{
  margin-top:1.7rem;
}
.act-yoga{
  margin-top: -1.9rem;
}
.activity-container img{
 margin-right: -3.5rem;
 width: 7rem;
 height: 6rem;
}

/* footer */
footer{
  width: auto;
}
}

@media screen and (min-width: 701px) and (max-width: 950px) {
  .logo-icon {
    width: 9rem;
    height: 9rem;
    margin-right: 0;
    margin-left: 4rem;
  }

  .header-ul {
    margin-left: -3rem;
  }

  .menu {
    margin: 1rem;
  }

  .sign-up-button {
    margin-left: 0rem;
  }
  .main-rectangle {
    max-width: 80%;
    height: fit-content;
    margin-left: 6rem;
  }

h1 {
  width: 90%;
  max-width: 100%;
  margin-left: 6rem;
  margin-right: auto;
}
.hotel-intro-container {
  margin-top: -180px;
  max-width: 90%;
  margin-left: 6rem;
  margin-right: auto;
  margin-bottom: 7rem;
}
.grade img {
  width: 1.5rem;
  height: 1.5rem;
}
h3 {
  max-width: auto;
  margin-right: auto;
}
h4{
max-width: 60%;
}
.rule-container {
  grid-template-columns: repeat(2, 1fr);
  max-width: 100%;
  margin-left: 12rem;
  margin-right: auto;
}
.box-container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
h5, h6{
margin-left: 12rem;
}
.icon-container {
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 90%;
  margin-left: 12rem;
  margin-right: auto;
}
.book{
  margin-left: 1.2rem;
}
.price-info{
  margin-top: 1rem;
}
.trapple-info{
  margin-top: -1.8rem;
}
.box-1,
.box-2 {
  width: 20%;
margin-left: auto;
margin-right: 2.5rem;
}
.loc{
  margin-left: 12rem;
  margin-bottom: -16rem;
}
.loc img{
  max-width: 50%;
}
.activity-wrapper{
margin-left: 8rem;
}
.act-yoga{
  margin-top: -1.8rem;
}
.activity-container img{
 margin-right: -3.5rem;
 width: 14rem;
 height: 12rem;
}
footer{
  width: auto;
}
}

@media screen and (min-width: 951px) and (max-width: 1100px) {
  .logo-icon {
    width: 12rem;
    height: 12rem;
    margin-right: 0;
    margin-left: 5rem;
  }

  .header-ul {
    margin-left: -2rem;
  }

  .menu {
    margin: 1rem;
  }

  .sign-up-button {
    margin-left: 2rem;
  }
  .main-rectangle {
    max-width: 80%;
    height: fit-content;
    margin-left: 8rem;
  }

h1 {
  width: 90%;
  max-width: 100%;
  margin-left: 8rem;
  margin-right: auto;
}
.hotel-intro-container {
  margin-top: -180px;
  max-width: 90%;
  margin-left: 8rem;
  margin-right: auto;
  margin-bottom: 7rem;
}
.grade img {
  width: 1.5rem;
  height: 1.5rem;
}
h3 {
  max-width: auto;
  margin-right: auto;
}
h4{
max-width: 60%;
}
.rule-container {
  grid-template-columns: repeat(2, 1fr);
  max-width: 100%;
  margin-left: 12rem;
  margin-right: auto;
}
.box-container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
h5, h6{
margin-left: 12rem;
}
.icon-container {
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  max-width: 90%;
  margin-left: 12rem;
  margin-right: auto;
}
.book{
  margin-left: 1.5rem;
}
.price-info{
  margin-top: 1rem;
}
.box-1,
.box-2 {
  width: 20%;
margin-left: auto;
margin-right: 1rem;
}
.loc{
  margin-left: 12rem;
  margin-bottom: -12rem;
  
}
.loc img{
  max-width: 60%;
}
.activity-wrapper{
margin-left: 10rem;
}
.act-yoga{
  margin-top: -2rem;
}
.activity-container img{
 margin-right: -3.5rem;
 width: 14rem;
 height: 12rem;
}
footer {
  width: auto;

}
}

@media screen and (min-width: 1101px) and (max-width: 1370px) {
  .logo-icon {
    width: 12rem;
    height: 12rem;
    margin-right: 0;
  }

  .header-ul {
    margin-left: 0rem;
  }

  .menu {
    margin: 1rem;
  }

  .sign-up-button {
    margin-left: 4rem;
  }

  .main-rectangle {
    max-width: 80%;
    height: fit-content;
    margin-left: 11rem;
  }

h1 {
  width: 90%;
  max-width: 100%;
  margin-left: 12rem;
  margin-right: auto;
}
.hotel-intro-container {
  margin-top: -180px;
  max-width: 90%;
  margin-left: 12rem;
  margin-right: auto;
  margin-bottom: 7rem;
}
.grade img {
  width: 1.5rem;
  height: 1.5rem;
}
h3 {
  max-width: auto;
  margin-right: auto;
}
h4{
max-width: 60%;
}
.rule-container {
  grid-template-columns: repeat(2, 1fr);
  max-width: 100%;
  margin-left: 18rem;
  margin-right: auto;
}
.box-container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
h5, h6{
margin-left: 16rem;
}
.icon-container {
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  max-width: 90%;
  margin-left: 18rem;
  margin-right: auto;
}
.price-info{
  margin-top: 10px;
}
.book{
  margin-left: 3.3rem;
  margin-top: 10px;
}
.small-title{
  margin-bottom: 20px;
}
.box-1,
.box-2 {
  width: 20%;
margin-left: auto;
margin-right: 0rem;
}
.loc{
  margin-left: 16rem;
  margin-bottom: -10rem;
}
.loc img{
  max-width: 70%;
}
.activity-wrapper{
margin-left: 14rem;
}
.activity-container img{
 margin-right: -3.5rem;
}

footer {
  width: auto;
}
}