.frame-background{
    object-fit: cover; /* As cover */
}

.nav-menu{
    color: var(--color-black);
}

.complete-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.completeOrder-message{
    color: #FFA149;
    text-align: center;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 500;
    margin-top: 14.75rem;
}

.completeOrder-message-invoice{
    color: #838383;
    font-size: var(--font-size-big);
    font-style: normal;
    font-weight: 400;
    margin-top: 0.8rem;
}

/* Order detail */
.frame-order-detail{
    width: 57.5625rem;
    height: 26.875rem;
    border-radius: 1.125rem;
    background: #E2E2E2;
    margin-top: 3.65rem;
    left: 16.19rem;
}

h1{
    color: #121212;
    padding-left: 3.38rem;
    padding-top: 2.56rem;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* To center the line, put parent element */
.line-after-order-detail-container{
    display: flex;
    justify-content: center;
}

.line-after-order-detail{
    width: 50.34375rem;
    height: 1px; /* if setting 0, then it might be not shown */ 
    
    /* Just put svg, it doesn't work. It should be inside of background-image: url(""). */
    background-image: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='806' height='1' viewBox='0 0 806 1' fill='none'><path d='M0 0.5H805.5' stroke='%23A7A7A7'/></svg>");
    background-repeat: no-repeat;
    /* background-position: center; doesn't work. Center it by using parent element. */
}

.product-image{
    width: 18.4375rem;
    height: 14.0125rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    padding-left: 2.62rem; 
    padding-top: 2.78rem;
    padding-bottom: 4.49rem;
}

/*  <h2>Eden Garden Apartments</h2>
    <h3>Bangkok, Thailand</h3>
    <h4>8.7 (567 reviews)</h4>
    <h5>SEK 420/ night</h5> 
    <h6>Name: </h6>
    <h6>E-mail: </h6>
    <h6>Telephone: </h6>*/
h2, h3, h4, h5, h6{
    position: relative;
    bottom: 19rem;
    left: 23rem;
    margin: 0;
}

h2{
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h3{
    margin-top: 1rem;
    font-size: var(--font-size-big);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.star-icon{
    position: relative;
    width: 1.875rem;
    height: 1.875rem;
    top: 0.4rem; 
    right: 0.2rem; 
}

h4{
    margin-top: 1rem;
    color: #606060;
    font-size: var(--font-size-big);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h5{
    margin-top: 2.5rem;
    font-size: var(--font-size-big);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* User booking detail*/
.frame-user-booking-detail{
    width: 57.5625rem;
    height: 26.875rem;
    border-radius: 1.125rem;
    background: #E2E2E2;
    margin-top: 7rem;
}

/* To center the line, put parent element */
.line-after-user-booking-detail-container{
    display: flex;
    justify-content: center;
}

.line-after-user-booking-detail{
    width: 50.34375rem;
    height: 1px; /* if setting 0, then it might be not shown */
    /* Just put svg, it doesn't work. It should be inside of background-image: url(""). */
    background-image: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='806' height='1' viewBox='0 0 806 1' fill='none'><path d='M0 0.5H805.5' stroke='%23A7A7A7'/></svg>");
    background-repeat: no-repeat;
    /* background-position: center; doesn't work. Center it by using parent element. */
}

h6{
    margin-top: 2.5rem;
    font-size: var(--font-size-big);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    left: 9rem;
}

.indent-name{
    margin-left: 10rem; 
    font-size: var(--font-size-big);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.indent-email{
    margin-left: 9.7rem; 
    font-size: var(--font-size-big);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.indent-telephone{
    margin-left: 6.5rem; 
    font-size: var(--font-size-big);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.back-to-main-wrapper{
    border: none;
    background-color: #ffa149;
    border-radius: var(--br-accommodation-pics);
    font-size: 1.375rem;
    color: var(--color-font);
    cursor: pointer;
    width: 37.18094rem;
    height: 6.83475rem;
    font-weight: 700;
    font-size: var(--font-size-big); 
    margin: 0 auto;
    margin-bottom: 4rem;
    display: block;
}

@media (min-width: 992px) and (max-width: 1199px) {
.line-after-order-detail-container,
.line-after-user-booking-detail-container{
    display: flex;
    justify-content: center; 
    max-width: 80%; /* Adjust the max-width as needed */
    margin: 0 auto;
}

.line-after-order-detail,
.line-after-user-booking-detail{
    width: 50.34375rem; /* Set a fixed width */
    height: 1px;
    background-image: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='806' height='1' viewBox='0 0 806 1' fill='none'><path d='M0 0.5H805.5' stroke='%23A7A7A7'/></svg>");
    background-repeat: no-repeat;
    margin: 0; /* Remove any default margin */
}

.frame-order-detail,
.frame-user-booking-detail{
    margin-left: auto;
    margin-right: auto;
}

/* First box: order detail */
h1,
h2,
h3,
h4,
h5,
h6,
.line-after-order-detail{
    left: 45%;
}

/* Second box: user booking detail */
.line-after-user-booking-detail,
h6{
    left: 15%; 
}

.back-to-main-wrapper{
    width: 80%; /* Adjust the width as needed */
    margin: 0 auto;
    margin-bottom: 4rem;
}
}

@media (min-width: 768px) and (max-width: 991px){
.trapple-logo{
    transform: scale(0.9); /* Adjust the size of logo */
    margin-left: 0; 
    margin-top: 0.5rem;
}

.line-after-order-detail-container,
.line-after-user-booking-detail-container{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.line-after-order-detail,
.line-after-user-booking-detail{
    width: 50.34375rem;
    height: 1px;
    background-image: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='806' height='1' viewBox='0 0 806 1' fill='none'><path d='M0 0.5H805.5' stroke='%23A7A7A7'/></svg>");
    background-repeat: no-repeat;
    margin: 0 auto;
    box-sizing: border-box; 
}

/* Box size set */
.frame-order-detail,
.frame-user-booking-detail{
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

/* First box: order detail */
h1,
h2,
h3,
h4,
h5,
h6,
.line-after-order-detail{
    left: 55%;
}

/* Second box: user booking detail */
.line-after-user-booking-detail,
h6{
    left: 15%;
}

.back-to-main-wrapper{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 4rem;
}

h2{
    font-size: 1.3rem;
}

h3,h4{
    font-size: 1.2rem;
}

h5{
    font-size: 1.2rem;
}
}

@media (min-width: 576px) and (max-width: 767px){
.trapple-logo{
    transform: scale(0.7); /* Adjust the size of logo */
    margin-left: 0; 
    margin-top: 0.5rem;
}

.sign-up,
.sign-up-wrapper,
.log-in,
.log-in-wrapper{
    width: auto;
    height: auto;
    font-size: 0.5rem;
}

.completeOrder-message,
.completeOrder-message-invoice{
    font-size: var(--font-size-footer);
}

.line-after-order-detail-container,
.line-after-user-booking-detail-container{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}
    
.line-after-order-detail,
.line-after-user-booking-detail{
    width: 50.34375rem;
    height: 1px;
    background-image: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='806' height='1' viewBox='0 0 806 1' fill='none'><path d='M0 0.5H805.5' stroke='%23A7A7A7'/></svg>");
    background-repeat: no-repeat;
    margin: 0 auto;
    box-sizing: border-box; 
}
    
/* Box size set */
.frame-order-detail,
.frame-user-booking-detail{
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}
    
/* First box: order detail */
h1,
h2,
h3,
h4,
h5,
h6,
.line-after-order-detail{
    left: 55%;
}
    
/* Second box: user booking detail */
.line-after-user-booking-detail,
h6,
.indent-email,
.indent-name,
.indent-telephone{
    left: 25%;
}

.product-image{
    width: 40%;
}

.back-to-main-wrapper{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 4rem;
}

h1{
    font-size: 1.3rem; 
}

h2{
    font-size: var(--font-size-normal); 
}
    
h3,h4{
    font-size: var(--font-size-normal);
}
    
h5,
h6,
.indent-email,
.indent-name,
.indent-telephone{
    font-size: var(--font-size-footer);
}

.indent-telephone{
    margin-left: 7rem;
}
}

@media (max-width: 575px){
.trapple-logo{
    transform: scale(0.5); /* Adjust the size of logo */
    margin-left: 0; 
    margin-top: 0.5rem;
}

.home{
    margin-left: 3rem;
}

.completeOrder-message,
.completeOrder-message-invoice{
    font-size: var(--font-size-footer);
}
    
.line-after-order-detail-container,
.line-after-user-booking-detail-container{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}
        
.line-after-order-detail,
.line-after-user-booking-detail{
    width: 50.34375rem;
    height: 1px;
    background-image: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='806' height='1' viewBox='0 0 806 1' fill='none'><path d='M0 0.5H805.5' stroke='%23A7A7A7'/></svg>");
    background-repeat: no-repeat;
    margin: 0 auto;
    box-sizing: border-box; 
}
        
/* Box size set */
.frame-order-detail,
.frame-user-booking-detail{
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}
        
/* First box: order detail */
h1,
h2,
h3,
h4,
h5,
h6,
.line-after-order-detail{
    left: 55%;
}
        
/* Second box: user booking detail */
.line-after-user-booking-detail,
h6,
.indent-email,
.indent-name,
.indent-telephone{
    left: 25%;
}
    
.product-image{
        width: 40%;
}
    
.back-to-main-wrapper{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 4rem;
    font-size: var(--font-size-normal);
    white-space: nowrap;
}
    
h1{
    font-size: 1.2rem; 
}
    
h2{
    font-size: var(--font-size-normal); 
}
        
h3,h4{
    font-size: var(--font-size-normal);
}
        
h5,
h6,
.indent-email,
.indent-name,
.indent-telephone{
    font-size: var(--font-size-normal);
}
    
.indent-telephone{
    margin-left: 8rem;
}
}

@media (max-width: 376px){
.trapple-logo{
    display: none;
}
    
.nav-menu{
    font-size: 0.7rem;
    left: 10rem;
}
    
.completeOrder-message,
.completeOrder-message-invoice{
    font-size: var(--font-size-normal);
}
        
.line-after-order-detail-container,
.line-after-user-booking-detail-container{
    display: flex;
    justify-content: center;
    width: 70%; /* line length */
    margin: 0 auto;
}
            
.line-after-order-detail,
.line-after-user-booking-detail{
    width: 50.34375rem;
    height: 1px;
    background-image: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='806' height='1' viewBox='0 0 806 1' fill='none'><path d='M0 0.5H805.5' stroke='%23A7A7A7'/></svg>");
    background-repeat: no-repeat;
    margin: 0 auto;
    box-sizing: border-box; 
}
            
/* Box size set */
.frame-order-detail,
.frame-user-booking-detail{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
            
/* First box: order detail */
h1,
h2,
h3,
h4,
h5,
h6,
.line-after-order-detail{
    left: 20%;
}
            
/* Second box: user booking detail */
.line-after-user-booking-detail,
h6,
.indent-email,
.indent-name,
.indent-telephone{
    left: 20%;
}
        
.product-image{
    display: none;
}
        
.back-to-main-wrapper{
    width: 35%;
    margin-bottom: 4rem;
    font-size: var(--font-size-normal);
    white-space: nowrap;

}
        
h1{
    font-size: 1.1rem;
}
        
h2{
    font-size: var(--font-size-normal);
    margin-top: 23rem;
}
            
h3,h4{
    font-size: var(--font-size-normal);
}
            
h6,
.indent-email,
.indent-name,
.indent-telephone{
    font-size: var(--font-size-normal);
    margin-left: 7rem;
}
        
.indent-telephone{
    margin-left: 2rem;
}

.indent-name{
    margin-left: 2rem; 
}

.indent-email{
    margin-left: 2rem;
}
}
