* {
  font-family: "Inter", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.box2 {
  position: relative;
  grid-column-start: 2;
  grid-column-end: 4;
  display: flex;
  flex-direction: column;
  justify-items: center;
  box-sizing: border-box;
  margin-top: 100px;
  margin-bottom: 50px;
}

.box1 {
  background-image: url("/assets/images/login-page.jpeg");
  background-size: 135%;
  margin-bottom: -120px;
}

.form-box {
  margin-left: 2%;
}

.title {
  align-self: center;
  position: relative;
  font: 700 2em "Inter Medium", sans-serif;
  margin: 0;
  margin-bottom: 20px;
}

.form-container {
  max-width: 400px;
  margin-left: 2%;
  max-width: 500px;
  margin-top: 40px;
}

form {
  align-self: center;
  max-width: 400px;
}

.form-item {
  margin-bottom: 40px;
  font: 550 1.25em "Inter-SemiBold", sans-serif;
}

.form-item label {
  display: block;
  margin-bottom: 5px;
}

.form-item input {
  align-self: center;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
}

.form-item input[type="submit"] {
  margin-top: 20px;
  cursor: pointer;
  background-color: white;
  border: solid 2px black;
  border-radius: 7px;
  height: 70px;
  font-size: 20px;
}

.save-container {
  margin-top: -1.5rem;
  display: flex;
  width: 42.90025rem;
  height: 2.35531rem;
  color: #000;
  font-size: 0.875rem;
  font-weight: 400;
  gap: 11.5rem;
}

.save-container input[type="checkbox"] {
  width: 2.09175rem;
  height: 2.09175rem;
  border-radius: 0.1875rem;
  border: 1px solid #16507a;
  background: none;
  margin-top: 5px;
  vertical-align: middle;
}

.forget-password {
  color: #121212;
  margin-top: 7.5px;
  font-size: 0.875rem;
  font-weight: 400;
}

.forget-password-link{
  text-decoration: underline;
  color: #000;

}

button {
  width: 100%;
  padding: 8px;
  margin-top: 1rem;
  color: #000;
  text-align: center;
  background-color: white;
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 0.625rem;
  border: 5px solid #0d374f;
}

.log-in-with-social-media {
  margin-top: 5rem;
}

.sign-up-container {
  display: flex;
  color: #7d7d7d;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  gap: 2rem;
  margin-left: 7rem;
  margin-top: -1rem;
}

.sign-up-link {
  color: #7d7d7d;
}

@media (max-width: 1074px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0;
  }

  .box1 {
    background-image: url("/assets/images/login-page.jpeg");
    filter: blur(5px);
    background-size: 110%;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .box2 {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: transparent;
    padding: 40px;
    width: 100%;
  }

  .form-container {
    margin-left: 0;
  }

  .form-item {
    margin-bottom: 15px;
  }

  input {
    color: black;
    background-color: transparent;
  }

  label {
    color: white;
  }

  .form-item input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
  }

  .title {
    color: white;
  }

  .save-container {
    margin-top: 2rem;
  }

  .forget-password {
    color: white;
    font-weight: 700px;
    margin-top: 0.5rem;
  }

  .sign-up-container {
    color: white;
    margin-top: 1.5rem;
  }

  .sign-up-link {
    color: white;
  }
}
