* {
    font-family: "Inter", sans-serif;
  }
  
  /* HEADER */
  header {
    display: flex;
    align-items: center;
  }
  
  .background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 24rem;
    flex-shrink: 0;
    z-index: -1;
    object-fit: cover;
    /* No matter how the screen size changes, the image will maintain its original proportions */
  }
  
  .logo-icon-img {
    width: 15rem;
    height: 15rem;
    margin-right: 3rem;
    margin-left: 2rem;
  }
  
  ul {
    list-style: none;
    display: flex;
  }
  
  .txt-title {
    margin-left: 5.2rem;
  }
  
  .menu {
    margin-left: 6rem;
  }
  
  a {
    color: white;
    text-align: center;
    font-family: Inter;
    font-size: 1.25rem;
    font-weight: 800;
    text-decoration: none;
  }
  
  /* SIGN IN/OUT BUTTON */
  .sign-up-button,
  .log-in-button {
    /* button text */
    color: #fff;
    text-align: center;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* button setting */
    width: 6.8125rem;
    height: 2.375rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: #16507a;
    border: none;
  }
  
  .sign-up-button {
    margin-left: 10.19rem;
    margin-right: 1rem;
  }
  
  .log-in-button {
    margin-right: 4.38rem;
  }
  
  @media screen and (max-width: 700px) {
    header {
      flex-direction: column;
      align-items: start;
    }
  
    .logo-icon-img {
      margin-left: 0;
      align-items: start;
      width: 9rem;
      height: 9rem;
      margin-right: 0;
      margin-bottom: 0;
    }
  
    ul {
      flex-direction: column;
      margin-left: -3rem;
      padding-left: 0;
      margin-bottom: 0.3rem;
    }
  
    .header-ul {
      margin-top: -1.5rem;
    }
  
    li {
      align-items: start;
      text-align: left;
      margin-bottom: 0.8rem;
    }
  
    /* BUTTON */
    .sign-up-button,
    .log-in-button {
      margin-left: 2.5rem;
      margin-bottom: 1rem;
    }
  }
  
  @media screen and (min-width: 701px) and (max-width: 950px) {
    .logo-icon-img {
      width: 9rem;
      height: 9rem;
      margin-right: 0;
    }
  
    .header-ul {
      margin-left: -1rem;
    }
  
    .menu {
      margin: 1rem;
    }
  
    .sign-up-button {
      margin-left: 3rem;
    }
  }
  
  @media screen and (min-width: 951px) and (max-width: 1100px) {
    .logo-icon-img {
      width: 12rem;
      height: 12rem;
      margin-right: 0;
    }
  
    .header-ul {
      margin-left: 0rem;
    }
  
    .menu {
      margin: 1rem;
    }
  
    .sign-up-button {
      margin-left: 8rem;
    }
  }
  
  @media screen and (min-width: 1101px) and (max-width: 1370px) {
    .logo-icon-img {
      width: 12rem;
      height: 12rem;
      margin-right: 0;
    }
  
    .header-ul {
      margin-left: 5rem;
    }
  
    .menu {
      margin: 2rem;
    }
  
    .sign-up-button {
      margin-left: 10rem;
    }
  
    form {
      margin-top: 2.5rem;
    }
  }
  
  /* --------------------------------------------------------------------------------------------------------------------- */
  /* SEARCH BAR */
  input {
    height: 5.25rem;
    border-radius: 0.5625rem;
    background: #fff;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.19);
    margin: 0.3rem;
    margin-top: 5.8rem;
    border: none;
  }
  
  .form-destination {
    width: 21.25rem;
    margin-left: 8.5rem;
  }
  
  .form-CheckIn,
  .form-CheckOut {
    width: 10.625rem;
  }
  
  .form-Guest {
    width: 17.4375rem;
  }
  
  .button-Search {
    width: 8rem;
    height: 5.125rem;
    flex-shrink: 0;
    border-radius: 0.5625rem;
    background: #ffa149;
    color: #fff;
    font-family: Inter;
    font-size: 1.375rem;
    font-weight: 700;
    border: none;
  }
  
  @media screen and (max-width: 1101px) {
    input {
      margin-top: 1rem;
      margin-bottom: 0;
      height: 3.5rem;
      margin: 0.2rem;
    }
  
    .form-destination,
    .form-CheckIn,
    .form-CheckOut,
    .form-Guest,
    .button-Search {
      width: 85%;
      margin-left: 3rem;
      margin-right: 3rem;
    }
  
    .button-Search {
      margin-top: 2rem;
    }
  }
  
  @media screen and (min-width: 1100px) and (max-width: 1200px){
    input {
      height: 5.25rem;
      margin-top: 5.8rem;
    }
    
    .form-destination {
      width: 19.25rem;
      margin-left: 3.5rem;
    }
    
    .form-CheckIn,
    .form-CheckOut {
      width: 8.625rem;
    }
    
    .form-Guest {
      width: 15.4375rem;
    }
    
    .button-Search {
      width: 6rem;
      height: 5.125rem;
      flex-shrink: 0;
      font-size: 1.375rem;
      font-weight: 700;
    }
  }
  @media screen and (min-width: 1200px) and (max-width: 1320px){
    .form-destination {
      width: 20.25rem;
      margin-left: 3.5rem;
    }
    
    .form-CheckIn,
    .form-CheckOut {
      width: 9.625rem;
    }
    
    .form-Guest {
      width: 16.4375rem;
    }
    
    .button-Search {
      width: 7rem;
      height: 5.125rem;
      flex-shrink: 0;
      font-size: 1.375rem;
      font-weight: 700;
    }
  }
  /* --------------------------------------------------------------------------------------------------------------------- */
  /* MAIN SECTION */
  /* HEADLINE:popular around you */
  /* SUBHEADLINE: HOTEL, PLACES, BEST OFFER */
  h1 {
    margin-top: 3.38rem;
    margin-left: 7.5rem;
    color: #000;
    font-size: 2.5rem;
    font-weight: 600;
  }
  
  .txt-subtitle2-activities,
  .txt-subtitle3-best-offer {
    margin-right: 3.12rem;
    color: #121212;
    font-size: 1.5625rem;
    font-weight: 500;
  }
  
  .txt-subtitle1-hotels {
    text-decoration: underline;
    margin-right: 3.12rem;
    color: #121212;
    font-size: 1.5625rem;
    font-weight: 500;
  }
  /* HOTEL CONTAINER */
  .hotel-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 1.5rem;
  }
  
  .hotel-img {
    border-radius: 0.625rem;
    width: 17.73888rem;
    height: 11.5625rem;
  }
  
  .hotel-photo-headline {
    margin-top: 1rem;
    color: #000;
    font-size: 1.25rem;
    font-weight: 600;
    width: 18.9375rem;
    height: 1.875rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
  
  .hotel-subheadline-container {
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .star-icon {
    width: 1.6875rem;
    height: 1.6875rem;
    margin-top: 0.5rem;
    text-align: right;
    margin-left: auto;
    padding-right: 1rem;
  }
  
  .hotel-subheadline {
    color: #606060;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    margin-right: auto;
    margin-top: 0.8rem;
  }
  
  /* ACTIVITIES CONTAINER */
  h2 {
    color: #000;
    font-size: 2.5rem;
    font-weight: 600;
    margin-left: 7.5rem;
    margin-top: 4.75rem;
    margin-bottom: 1rem;
  }
  
  .Activities-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .Activities-img {
    width: 17.9375rem;
    height: 16.9375rem;
    border-radius: 0.625rem;
  }
  
  .Activities-headline-container {
    display: flex;
    width: 5.375rem;
    height: 1.625rem;
    flex-shrink: 0;
    color: #000;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 1rem;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }
  
  .Activities-photo-headline {
    margin-left: -3.5rem;
    margin-right: auto;
    padding-right: 1rem;
    margin-top: 0.1rem;
  }
  
  .star-icon-activity {
    text-align: right;
    margin-left: auto;
    padding-right: 0.2rem;
    width: 1.6875rem;
    height: 1.6875rem;
  }
  
  @media screen and (max-width: 450px) {
    h1,
    h2 {
      font-size: 1.25rem;
      font-weight: 600;
      margin-left: 3rem;
    }
  
    .txt-title {
      margin-left: 0.3rem;
    }
  
    .txt-subtitle1-hotels,
    .txt-subtitle2-activities,
    .txt-subtitle3-best-offer {
      font-size: 0.8125rem;
      font-weight: 400;
      margin-left: 3rem;
      text-align: left;
    }
  
    a {
      text-align: left;
    }
  
    .Hotel-container {
      grid-template-columns: repeat(2, 1fr);
      margin-left: 0;
    }
  
    .hotel-img {
      width: 8.625rem;
      height: 5.9375rem;
    }
  
    .hotel-photo-headline {
      text-align: left;
    }
  
    .hotel-subheadline-container {
      text-align: left;
    }
  
    .hotel-subheadline {
      margin-top: 0.45rem;
    }
  
    .Activities-container {
      grid-template-columns: repeat(2, 1fr);
      margin-right: 0;
    }
  
    .Activities-img {
      width: 8.3125rem;
      height: 7.875rem;
    }
  
    .Activities-photo-headline {
      font-size: 0.75rem;
      font-weight: 600;
      margin-left: -1rem;
      padding-right: 0.3rem;
    }
  
    .star-icon,
    .star-icon-activity {
      width: 1rem;
      height: 1rem;
      margin-left: 0;
    }
  }
  
  @media screen and (min-width: 450px) and (max-width: 830px) {
    h1 {
      margin-left: 3rem;
    }
  
    h2 {
      margin-left: 3rem;
    }
  
    .Hotel-container {
      grid-template-columns: repeat(1, 1fr);
      /* why doesn't work? */
    }
  
    .hotel-img {
      margin-left: 1rem;
      align-items: start;
      /* how to remove the left space of images? */
    }
  
    .Activities-container {
      grid-template-columns: repeat(1, 1fr);
      /* why doesn't work? */
    }
  }
  
  @media screen and (min-width: 830px) and (max-width: 1100px) {
    h1 {
      margin-left: 3.5rem;
    }
  
    h2 {
      margin-left: 3.5rem;
    }
  
    .Hotel-container {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .Activities-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  /* --------------------------------------------------------------------------------------------------------------------- */
  /* FOOTER */
  footer {
    width: 100%;
    height: 18rem;
    flex-shrink: 0;
    background: #0d374f;
    margin-top: 5rem;
  }
  
  .media-icon-container {
    display: flex;
    justify-content: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  
  .facebook-icon {
    width: 2.75rem;
    height: 3rem;
    flex-shrink: 0;
    margin-right: 2.56rem;
  }
  
  .twitter-icon {
    width: 2.6875rem;
    height: 2.6875rem;
    flex-shrink: 0;
    margin-top: 5px;
  }
  
  .youtube-icon {
    width: 2.875rem;
    height: 2.875rem;
    flex-shrink: 0;
    margin-left: 2.56rem;
    margin-top: 5px;
  }
  
  .txt-footer-menu {
    color: #fff;
    font-size: 1.5625rem;
    font-weight: 700;
    text-align: center;
    margin-top: 0;
  }
  
  .txt-footer-email {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
  }
  
  .txt-footer {
    color: #fff;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
  }
  
  @media screen and (max-width: 400px) {
    footer {
      height: 10rem;
    }
  
    .media-icon-container {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
  
    .facebook-icon {
      width: 1.5rem;
      height: 1.3rem;
    }
  
    .twitter-icon {
      width: 1.2rem;
      height: 1.2rem;
    }
  
    .youtube-icon {
      width: 1.2rem;
      height: 1.2rem;
    }
  
    .txt-footer-menu {
      font-size: 0.7rem;
    }
  
    .txt-footer-email {
      font-size: 0.4rem;
    }
  
    .txt-footer {
      font-size: 0.5rem;
    }
  }
  
  @media screen and (min-width: 400px) and (max-width: 800px) {
    footer {
      height: 15rem;
    }
  
    .media-icon-container {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  
    .facebook-icon {
      width: 2rem;
      height: 2.3rem;
    }
  
    .twitter-icon {
      width: 2rem;
      height: 2rem;
    }
  
    .youtube-icon {
      width: 2rem;
      height: 2rem;
    }
  
    .txt-footer-menu {
      font-size: 1rem;
    }
  
    .txt-footer-email {
      font-size: 0.7rem;
    }
  
    .txt-footer {
      font-size: 0.7rem;
    }
  }
  