* {
  font-family: "Inter", sans-serif;
}

/* HEADER */
header {
  display: flex;
  align-items: center;
}

.logo-icon-img {
  width: 15rem;
  height: 15rem;
  margin-right: 4rem;
}

ul {
  list-style: none;
  display: flex;
}

a {
  margin-left: 6rem;
  color: black;
  text-align: center;
  font-family: Inter;
  font-size: 1.25rem;
  font-weight: 800;
  text-decoration: none;
}

/* SIGN IN/OUT BUTTON */
.sign-up-button,
.log-in-button {
  /* button text */
  color: #fff;
  text-align: center;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* button setting */
  width: 6.8125rem;
  height: 2.375rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: #16507a;
  border-color: #16507a;
  border: none;
}

.sign-up-button {
  margin-left: 13.19rem;
  margin-right: 1rem;
}

.log-in-button {
  margin-right: 4.38rem;
}

.sign-up-button-link{
  margin-left: 0;
}

.log-in-button-link{
  margin-left: 0;
}

@media screen and (max-width: 700px) {
  header {
    flex-direction: column;
    align-items: start;
  }

  .logo-icon-img {
    margin-left: 0;
    align-items: start;
    width: 9rem;
    height: 9rem;
    margin-right: 0;
    margin-bottom: 0;
  }

  ul {
    flex-direction: column;
    margin-left: -3rem;
    padding-left: 0;
    margin-bottom: 0.3rem;
  }

  .header-ul {
    margin-top: -1.5rem;
  }

  li {
    align-items: start;
    text-align: left;
    margin-bottom: 0.8rem;
  }

  /* BUTTON */
  .sign-up-button,
  .log-in-button {
    margin-left: 2.5rem;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 701px) and (max-width: 950px) {
  .logo-icon-img {
    width: 9rem;
    height: 9rem;
    margin-right: 0;
  }

  .header-ul {
    margin-left: -1rem;
  }

  .menu {
    margin: 1rem;
  }

  .sign-up-button {
    margin-left: 3rem;
  }
}

@media screen and (min-width: 951px) and (max-width: 1100px) {
  .logo-icon-img {
    width: 12rem;
    height: 12rem;
    margin-right: 0;
  }

  .header-ul {
    margin-left: 0rem;
  }

  .menu {
    margin: 1rem;
  }

  .sign-up-button {
    margin-left: 8rem;
  }
}

@media screen and (min-width: 1101px) and (max-width: 1370px) {
  .logo-icon-img {
    width: 12rem;
    height: 12rem;
    margin-right: 0;
  }

  .header-ul {
    margin-left: 5rem;
  }

  .menu {
    margin: 2rem;
  }

  .sign-up-button {
    margin-left: 10rem;
  }

  form {
    margin-top: 2.5rem;
  }
}

/* MAIN SECTION */

/* ORDER SETTING */
/* cart headlings setting */
.cart-headline {
  color: #121212;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
}

.cart-subheadline-container {
  display: flex;
  border-bottom: 1px solid #a7a7a7;
  margin-left: 8rem;
  margin-right: 8rem;
  text-align: center;
}

.txt-subheadline1 {
  color: #121212;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  list-style: none;
  margin-bottom: 1rem;
  margin-left: 13.7rem;
}

.txt-subheadline2,
.txt-subheadline3 {
  color: #121212;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  list-style: none;
}

@media screen and (max-width: 389px) {
  .cart-headline {
    font-size: 1.8rem;
  }

  .cart-subheadline-container {
    flex-direction: column;
  }

  .txt-subheadline1 {
    margin-left: -10rem;
    font-size: 1.2rem;
  }

  .txt-subheadline2 {
    margin-left: -11.5rem;
    margin-bottom: 0.7rem;
    font-size: 1.2rem;
  }

  .txt-subheadline3 {
    margin-left: -10rem;
    font-size: 1.2rem;
  }

  .cart-subheadline-container {
    border-color: white;
  }
}

@media screen and (min-width: 390px) and (max-width: 600px) {
  .cart-subheadline-container {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .cart-headline {
    font-size: 1.8rem;
  }

  .txt-subheadline1 {
    margin-left: -6rem;
    font-size: 1.2rem;
  }

  .txt-subheadline2,
  .txt-subheadline3 {
    margin-left: -3rem;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
  .txt-subheadline1 {
    margin-left: -6rem;
  }

  .txt-subheadline2,
  .txt-subheadline3 {
    margin-left: -3rem;
  }
}

@media screen and (min-width: 900px) and (max-width: 980px) {
  .txt-subheadline1 {
    margin-left: 0rem;
  }
}

@media screen and (min-width: 981px) and (max-width: 1240px) {
  .txt-subheadline1 {
    margin-left: 5rem;
  }
}

/* VAILD ORDER LATOUT */
.cart-container {
  display: flex;
}

.cart-box-container1,
.cart-box-container2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 0;
  background: #ffffff;
  border-radius: 18px;
  border: solid #16507a 1px;
  width: 921px;
  height: 300px;
  position: relative;
  margin-top: 4.25rem;
  margin-left: 1rem;
}

.txt-container {
  margin-left: 0;
}

.rate-container {
  display: flex;
}

/* ⭕️, vaild order image, txt setting*/
.circular1,
.circular2 {
  width: 50px;
  height: 50px;
  border-radius: 6.25rem;
  border: 4px solid #c4c4c4;
  /* #ffa149 */
  box-shadow: 0px 3px 5px 0px rgba(46, 46, 66, 0.08);
  margin-top: 12rem;
  margin-left: 11.5rem;
  margin-right: 2.25rem;
}

.ordered-hotel-img {
  width: 18.75rem;
  height: 14.25rem;
  margin-top: 2.5rem;
  margin-left: 5rem;
  border-radius: 0.625rem;
}

.txt-ordered-hotel-name {
  margin-top: 2.7rem;
  color: #121212;
  font-size: 2.25rem;
  font-weight: 700;
}

.txt-ordered-hotel-location {
  color: #121212;
  font-size: 1.5rem;
  font-weight: 400;
}

.txt-rating {
  color: #606060;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 2px;
  margin-left: 1rem;
}

.txt-price {
  color: #000;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 0;
}

.star-icon {
  width: 1.6875rem;
  height: 1.6875rem;
  margin-left: 0;
}

@media screen and (max-width: 500px) {
  .cart-box-container1,
  .cart-box-container2 {
    width: 400px;
    height: 100px;
    margin-left: -1rem;
  }

  .circular1,
  .circular2 {
    width: 25px;
    height: 19px;
    margin-top: 6.7rem;
    margin-left: 2rem;
  }

  .ordered-hotel-img {
    width: 6.5rem;
    height: 4.5rem;
    margin-top: 0.9rem;
    margin-left: 1rem;
  }

  .txt-container {
    margin-left: -1rem;
  }

  .txt-ordered-hotel-name {
    margin-top: 1rem;
    font-size: 0.8rem;
  }

  .txt-ordered-hotel-location {
    font-size: 0.6rem;
    margin-top: -0.5rem;
  }

  .star-icon {
    width: 0.8rem;
    height: 0.8rem;
    margin-top: -0.1rem;
  }

  .txt-rating {
    font-size: 0.6rem;
    margin-left: 5px;
    margin-top: -0.5px;
  }

  .txt-price {
    margin-top: -0.3rem;
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 500px) and (max-width: 749px) {
  .cart-box-container1,
  .cart-box-container2 {
    width: 500px;
    height: 150px;
    margin-left: -1rem;
  }

  .circular1,
  .circular2 {
    width: 35px;
    height: 32px;
    margin-top: 7.4rem;
    margin-left: 2rem;
  }

  .ordered-hotel-img {
    width: 8.5rem;
    height: 7.5rem;
    margin-top: 0.9rem;
    margin-left: 1rem;
  }

  .txt-container {
    margin-left: -3rem;
  }

  .txt-ordered-hotel-name {
    margin-top: 1.2rem;
    font-size: 1.2rem;
  }

  .txt-ordered-hotel-location {
    font-size: 1rem;
    margin-top: -0.5rem;
  }

  .star-icon {
    width: 1.1rem;
    height: 1.1rem;
    margin-top: -0.2rem;
  }

  .txt-rating {
    font-size: 1rem;
    margin-left: 5px;
    margin-top: -0.2rem;
  }

  .txt-price {
    margin-top: -0.5rem;
    font-size: 1rem;
  }
}

@media screen and (min-width: 730px) and (max-width: 949px) {
  .cart-box-container1,
  .cart-box-container2 {
    width: 600px;
    height: 200px;
  }

  .circular1,
  .circular2 {
    width: 40px;
    height: 37px;
    margin-top: 9rem;
    margin-left: 2rem;
  }

  .ordered-hotel-img {
    width: 10.9rem;
    height: 10rem;
    margin-top: 1.3rem;
    margin-left: 2rem;
  }

  .txt-container {
    margin-left: -3rem;
  }

  .txt-ordered-hotel-name {
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  .txt-ordered-hotel-location {
    font-size: 1.2rem;
    margin-top: -0.5rem;
  }

  .star-icon {
    width: 1.3rem;
    height: 1.3rem;
    margin-top: -0.2rem;
  }

  .txt-rating {
    font-size: 1.1rem;
    margin-left: 1rem;
    margin-top: -0.1rem;
  }

  .txt-price {
    margin-top: 0rem;
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 950px) and (max-width: 1200px) {
  .cart-box-container1,
  .cart-box-container2 {
    width: 700px;
    height: 250px;
  }

  .circular1,
  .circular2 {
    width: 45px;
    height: 42px;
    margin-top: 10rem;
    margin-left: 7rem;
    margin-right: 1.25rem;
  }

  .ordered-hotel-img {
    width: 13.9rem;
    height: 12rem;
    border-radius: 0.625rem;
    margin-top: 2rem;
    margin-left: 2rem;
  }

  .txt-container {
    margin-left: -3rem;
  }

  .txt-ordered-hotel-name {
    margin-top: 2rem;
    font-size: 1.8rem;
  }

  .txt-rating {
    font-size: 1.2rem;
    margin-left: 1rem;
  }

  .txt-price {
    margin-top: 0.3rem;
    font-size: 1.3rem;
  }
}

/* PAYMENT SETTING */
/* payment box layout and icons setting */
.payment-container1,.payment-container2 {
  display: flex;
  border-radius: 0.625rem;
  background: #ececec;
  width: 62.25rem;
  height: 9.4375rem;
  margin-left: 14rem;
  margin-bottom: 3rem;
  margin-top: 0;
  border: 2px solid #ececec ;
}

.payment-icon {
  width: 7.4375rem;
  height: 7.4375rem;
  margin-left: 6rem;
  margin-top: 1rem;
}

.payment-icon2 {
  width: 6.8125rem;
  height: 6.0625rem;
  margin-left: 6rem;
  margin-top: 2rem;
}

/* payment txt setting */
.txt-payment-headline {
  color: #121212;
  font-size: 2.25rem;
  font-weight: 700;
  margin-left: 14rem;
  margin-top: 5rem;
}

.card-number {
  color: #000;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 400;
  margin-left: 9rem;
  margin-top: 3.5rem;
}

.txt-verified {
  color: #0d374f;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 600;
  margin-top: 3.5rem;
  margin-left: 12rem;
}

/* add payment setting */
.add-payment-container {
  display: flex;
  margin-left: 14rem;
}

.add-payment-button {
  width: 2.5rem;
  height: 2.5rem;
}

.txt-add-payment {
  color: #000;
  text-align: center;
  font-size: 1.875rem;
  font-weight: 400;
  margin-left: 2rem;
  margin-top: 0.25rem;
}


@media screen and (max-width: 500px) {
  .txt-payment-headline {
    font-size: 1.2rem;
    margin-left: 5.4rem;
  }

  .payment-container {
    width: 318px;
    height: 100px;
    margin-left: 4.6rem;
  }

  .payment-icon {
    width: 3.8rem;
    height: 3.8rem;
    margin-left: 1.7rem;
    margin-top: 1.3rem;
  }

  .payment-icon2 {
    width: 3.2rem;
    height: 3.1rem;
    margin-left: 2rem;
    margin-top: 1.7rem;
  }

  .card-number {
    font-size: 1rem;
    font-weight: 400;
    margin-left: 1.8rem;
    margin-top: 2.7rem;
  }

  .txt-verified {
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 2.5rem;
    margin-left: 1.5rem;
  }

  .add-payment-container {
    display: flex;
    margin-left: 6rem;
  }

  .add-payment-button {
    width: 1.5rem;
    height: 1.5rem;
  }

  .txt-add-payment {
    font-size: 1.1rem;
    font-weight: 400;
    margin-left: 1rem;
    margin-top: 0.2rem;
  }
}

@media screen and (min-width: 500px) and (max-width: 729px) {
  .txt-payment-headline {
    font-size: 1.5rem;
    margin-left: 6.5rem;
  }

  .payment-container {
    width: 425px;
    height: 130px;
    margin-left: 6.5rem;
  }

  .payment-icon {
    width: 5.4375rem;
    height: 5.4375rem;
    margin-left: 2.5rem;
    margin-top: 1.5rem;
  }

  .payment-icon2 {
    width: 4.4rem;
    height: 3.7rem;
    margin-left: 3.1rem;
    margin-top: 2.3rem;
  }

  .card-number {
    font-size: 1.3rem;
    font-weight: 400;
    margin-left: 2.6rem;
    margin-top: 3.5rem;
  }

  .txt-verified {
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 3.4rem;
    margin-left: 2.2rem;
  }

  .add-payment-container {
    display: flex;
    margin-left: 6rem;
  }

  .add-payment-button {
    width: 2rem;
    height: 2rem;
  }

  .txt-add-payment {
    font-size: 1.3rem;
    font-weight: 400;
    margin-left: 1.8rem;
  }
}

@media screen and (min-width: 730px) and (max-width: 949px) {
  .txt-payment-headline {
    font-size: 2rem;
    margin-left: 7rem;
  }

  .payment-container {
    width: 600px;
    margin-left: 8.5rem;
  }
  .payment-icon {
    width: 5.4375rem;
    height: 5.4375rem;
    margin-left: 3rem;
    margin-top: 2rem;
  }

  .payment-icon2 {
    width: 4.8125rem;
    height: 4.0625rem;
    margin-left: 3.5rem;
    margin-top: 3.3rem;
  }

  .card-number {
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: 4.6rem;
    margin-top: 4rem;
  }

  .txt-verified {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 3.8rem;
    margin-left: 7.5rem;
  }

  .add-payment-container {
    display: flex;
    margin-left: 7rem;
  }

  .add-payment-button {
    width: 2rem;
    height: 2rem;
  }

  .txt-add-payment {
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: 1.8rem;
  }
}

@media screen and (min-width: 950px) and (max-width: 1200px) {
  .payment-container {
    width: 700px;
    margin-left: 13rem;
  }
  .payment-icon {
    width: 6.4375rem;
    height: 6.4375rem;
    margin-left: 4rem;
    margin-top: 1.5rem;
  }

  .payment-icon2 {
    width: 5.8125rem;
    height: 5.0625rem;
    margin-left: 4rem;
    margin-top: 2.3rem;
  }

  .card-number {
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: 7rem;
    margin-top: 3.8rem;
  }

  .txt-verified {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 3.8rem;
    margin-left: 8rem;
  }

  .add-payment-button {
    width: 2rem;
    height: 2rem;
  }

  .txt-add-payment {
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: 1.8rem;
  }
}

/* CHECK OUT BAR */
/* check out bar layout */
.Check-out-bar-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 62.9375rem;
  height: 15.375rem;
  border-radius: 0.625rem;
  border: 1px solid #0d374f;
  background: #fff;
  margin-left: 14rem;
  margin-top: 6.44rem;
}

/* check out bar text setting */
.txt-Check-out-price {
  color: #121212;
  font-size: 2.5rem;
  font-weight: 700;
  margin-left: 4.19rem;
  margin-top: 3.69rem;
  margin-bottom: -1rem;
}

.txt-change-payment {
  color: #7d7d7d;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 500;
  text-decoration: underline;
  margin-top: 2rem;
  margin-left: 4.19rem;
}

.txt-change-payment-link{
  margin-top: 0 ;
}

.Check-out-button {
  width: 18.82894rem;
  height: 7.32238rem;
  border-radius: 0.625rem;
  background: #ffa149;
  color: #000;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 700;
  margin-top: 4.19rem;
  margin-right: 5.4rem;
  margin-left: 6.5rem;
  border: none;
}

.Check-out-button-link{
  margin-left: 0;
}

@media screen and (max-width: 500px) {
  .Check-out-bar-container {
    width: 19.2rem;
    height: 6.8rem;
    margin-left: 5.1rem;
    margin-top: 2rem;
  }

  .txt-Check-out-price {
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-top: 1.2rem;
  }

  .txt-change-payment {
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: -0.5rem;
    margin-left: 1rem;
  }

  .Check-out-button {
    width: 7rem;
    height: 3.5rem;
    font-size: 1rem;
    margin-top: 1.2rem;
    margin-right: 0rem;
    margin-left: 1rem;
  }
}

@media screen and (min-width: 500px) and (max-width: 729px) {
  .Check-out-bar-container {
    width: 26rem;
    height: 6.8rem;
    margin-left: 7rem;
    margin-top: 2rem;
  }

  .txt-Check-out-price {
    font-size: 1.5rem;
    margin-left: 2.5rem;
    margin-top: 1.5rem;
  }

  .txt-change-payment {
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: -1rem;
    margin-left: 1.5rem;
  }

  .Check-out-button {
    width: 9rem;
    height: 3.5rem;
    font-size: 1.4rem;
    margin-top: 1.5rem;
    margin-right: 2rem;
    margin-left: 2rem;
  }
}

@media screen and (min-width: 730px) and (max-width: 949px) {
  .Check-out-bar-container {
    width: 36.9375rem;
    height: 10.5rem;
    margin-left: 9rem;
  }

  .txt-Check-out-price {
    font-size: 2rem;
    margin-left: 2.5rem;
    margin-top: 2.5rem;
  }

  .txt-change-payment {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: -1rem;
    margin-left: 1.2rem;
  }

  .Check-out-button {
    width: 12rem;
    height: 5rem;
    font-size: 1.8rem;
    margin-top: 2.5rem;
    margin-right: 3.4rem;
    margin-left: 4rem;
  }
}

@media screen and (min-width: 950px) and (max-width: 1200px) {
  .Check-out-bar-container {
    width: 42.9375rem;
    height: 10.5rem;
  }

  .txt-Check-out-price {
    font-size: 2.2rem;
    margin-left: 2.5rem;
    margin-top: 2.69rem;
  }

  .txt-change-payment {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: -1rem;
    margin-left: 2.3rem;
  }

  .Check-out-button {
    width: 15rem;
    height: 5rem;
    font-size: 1.8rem;
    margin-top: 2.5rem;
    margin-right: 3.4rem;
    margin-left: 4rem;
  }
}

/* REORDER BAR */
.Reorder-bar-container {
  display: flex;
  margin-bottom: 8.16rem;
}

.Cancel-button {
  color: #000;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: underline;
  margin-left: 28.63rem;
  margin-top: 7.99rem;
}

.reorder-button {
  border-radius: 0.9375rem;
  background: #ffa149;
  width: 15.80056rem;
  height: 5.96913rem;
  color: #000;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 14.17rem;
  margin-top: 5.81rem;
  border: none;
}

@media screen and (max-width: 500px) {
  .Reorder-bar-container {
    margin-left: -25rem;
  }

  .reorder-button {
    margin-left: 5rem;
  }

  .reorder-button {
    width: 9.80056rem;
    height: 3.96913rem;
    font-size: 1.5rem;
    margin-left: 5rem;
    margin-top: 7rem;
  }
}

@media screen and (min-width: 500px) and (max-width: 729px) {
  .Reorder-bar-container {
    margin-left: -25rem;
  }

  .reorder-button {
    margin-left: 12rem;
  }
}

@media screen and (min-width: 730px) and (max-width: 949px) {
  .Reorder-bar-container {
    margin-left: -20rem;
  }
}

@media screen and (min-width: 950px) and (max-width: 1200px) {
  .Reorder-bar-container {
    margin-left: -10rem;
  }
}

/* FOOTER */
footer {
  width: 100%;
  height: 18rem;
  flex-shrink: 0;
  background: #0d374f;
  margin-top: 5rem;
}

.media-icon-container {
  display: flex;
  justify-content: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.facebook-icon {
  width: 2.75rem;
  height: 3rem;
  flex-shrink: 0;
  margin-right: 2.56rem;
}

.twitter-icon {
  width: 2.6875rem;
  height: 2.6875rem;
  flex-shrink: 0;
  margin-top: 5px;
}

.youtube-icon {
  width: 2.875rem;
  height: 2.875rem;
  flex-shrink: 0;
  margin-left: 2.56rem;
  margin-top: 5px;
}

.txt-footer-menu {
  color: #fff;
  font-size: 1.5625rem;
  font-weight: 700;
  text-align: center;
  margin-top: 0;
}

.txt-footer-email {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

.txt-footer {
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
}
