/* Declare variables for convenient */

:root{
--back-color:#fff; 
}

/*   background-image: url(/assets/Images/back.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */